<h1 class="text-center">O cadastro foi realizado com sucesso!</h1>
<div class="row justify-content-md-center">
<a class="btn btn-success" href="/Usuario/ListaDeUsuarios" >Ir para lista de usuários</a>
<div>