@model Usuario

<h1>ALERTA!</h1>
<h2>Tem certeza que deseja excluir o usuário @Model.Nome (@Model.Login)?</h2>
<p>A exclusão é irreversivel</p>

<form action="ExcluirUsuario" method="post">
    <input type="hidden" name="id" asp-for="Id">
    <input name="decisao" type="submit" value="Cancelar" class="btn btn-secondary">
    <input name="decisao" type="submit" value="Excluir" class="btn btn-danger">
</form>